<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница не найдена</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="display-4 text-danger">Ошибка 404</h1>
        <p class="lead">Запрашиваемая страница не найдена.</p>
        <a href="{% url 'core:order_list' %}" class="btn btn-primary">Вернуться на главную</a>
    </div>
</body>
</html>
